<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Sucesso na operação</title>
</head>
<style>
    #text_success {
        align-content: center;
        color: rgb(237, 42, 17);
        text-align: center;
        margin-top: 10%;
        font-size: 3em;
    }
    .row.justify-content-center.align-items-center.g-2 {
        background-color: #ebe5e5cf;
    }
</style>
<body>


    <div
        class="row justify-content-center align-items-center g-2"
    >
        <div class="col" id="text_success">Sucesso na operação</div>
    </div>
    
</body>
</html>