<style>
    #footer{
        display: flex;
        flex-direction: row;
        flex-basis: auto;
        flex-wrap: nowrap;
    }
    .col_footer{
        padding-left: 15%;
        padding-right: 15%;
    }
</style>

<footer>
    <div
        class="row justify-content-center align-items-center g-2" id="footer"
    >
        <div class="col_footer">
            <div>Column</div>
            <div>Column</div>
            <div>Column</div>
        </div>
        <div class="col_footer">
            <div>Column</div>
            <div>Column</div>
            <div>Column</div>
        </div>
        <div class="col_footer">
            <div>Column</div>
            <div>Column</div>
            <div>Column</div>
        </div>
    </div>
</footer>
